# How to randomly sample a Pandas DataFrame

## Load Libraries

In [1]:
import pandas as pd
import numpy as np

## Create DataFrame

In [2]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
                'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
                'age': [42, 52, 36, 24, 73],
                'preTestScore': [4, 24, 31, 2, 3],
                'postTestScore': [25, 94, 57, 62, 70]}

df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age',
                                           'preTestScore', 'postTestScore'])

df.head()

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70

## Select a random subset of 2 without replacement

In [3]:
# Select a random subset of 2 without replacement
df1 = df.take(np.random.permutation(len(df))[:2])
df1

  first_name last_name  age  preTestScore  postTestScore
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62

## Select a random subset of 4 without replacement

In [4]:
# Select a random subset of 4 without replacement
df2 = df.take(np.random.permutation(len(df))[:4])
df2

  first_name last_name  age  preTestScore  postTestScore
2       Tina       Ali   36            31             57
4        Amy     Cooze   73             3             70
3       Jake    Milner   24             2             62
0      Jason    Miller   42             4             25

## Random Sample of df

In [5]:
# random sample of df    
df3 = df.sample(3)
df3

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
3       Jake    Milner   24             2             62
2       Tina       Ali   36            31             57

## Summary

In [6]:
def RandomSample_Example():
    print(format('randomly sample a Pandas DataFrame','*^56'))
    
    # load libraries
    import pandas as pd
    import numpy as np
    
    # Create dataframe
    raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
                'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
                'age': [42, 52, 36, 24, 73],
                'preTestScore': [4, 24, 31, 2, 3],
                'postTestScore': [25, 94, 57, 62, 70]}
    df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age',
                                           'preTestScore', 'postTestScore'])
    print(df)
    
    # Select a random subset of 2 without replacement
    print(df.take(np.random.permutation(len(df))[:2]))
    
    # Select a random subset of 4 without replacement
    print(df.take(np.random.permutation(len(df))[:4]))
    
    # random sample of df    
    df1 = df.sample(3)
    print(df1)
RandomSample_Example()

***********randomly sample a Pandas DataFrame***********
  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70
  first_name last_name  age  preTestScore  postTestScore
3       Jake    Milner   24             2             62
1      Molly  Jacobson   52            24             94
  first_name last_name  age  preTestScore  postTestScore
3       Jake    Milner   24             2             62
2       Tina       Ali   36            31             57
0      Jason    Miller   42             4             25
4        Amy     Cooze   73             3             70
  first_name last_name  age  preTestScore  postTestScore
4        Amy     Cooze   73             3             70
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57